@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

nav {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding-top: 50px;
    transition: left 0.3s ease;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav.show {
    left: 0;
}

h1 {
    font-size: 40px;
}

#descricao {
    font-size: 18px;
    display: inline;
}

#cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}
